h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  /* скидаємо відступи верхній та нижній */
}

/* прибрали крапки */
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* прибрали нижнє підкреслення */
a {
  text-decoration: none;
}
/* Щоб змінювався курсор при наведені на кнопку */
button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

/* Стилі для Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item-link {
  display: flex;
  gap: 40px;
}

.first-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.item-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.menu-item-studio .item-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item-studio .item-name:hover,
.menu-item-studio .item-name:focus {
  color: #404bbf;
}

.menu-item-portfolio .item-name:hover,
.menu-item-portfolio .item-name:focus,
.menu-item-contacts .item-name:hover,
.menu-item-contacts .item-name:focus {
  color: #404bbf;
}

.menu-item:hover {
  color: #404bbf;
}

/* Стилі для Hero */
.hero {
  padding: 188px 0;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-content-wrapper {
  text-align: center;
}

/* Стилі для Benefits */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-ls {
  display: flex;
  justify-content: space-around;
}

.benefits-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 8px;
}

.benefits-ds {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Стилі для Our Team */

.page-our-team {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 60px;
}

.team-ls {
  display: flex;
  justify-content: space-around;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 8px;
}

.team-ds {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Стилі для Our Portfolio */

.page-portfolio {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-ls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  gap: 24px;
}

.our-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 60px;
  margin-top: 120px;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 8px;
}

.portfolio-ds {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.li1 {
  display: flex;
  flex-wrap: wrap;
}

.li2 {
  display: flex;
  flex-wrap: wrap;
}

/* Стилі для Footer */

.lower-page {
  background-color: #2e2f42;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.second-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.second-lg {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.lower-page-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Стилі для Button */

.order-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--btn-bg-color, #4d5ae5);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
}
